<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить книгу</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='add-book.css') }}">
</head>
<body>
    <div class="container form-center">
        <h1>Добавить новую книгу</h1>

        <form action="{{ url_for('add_book') }}" method="POST">
            <div class="form-center-group">
                <label>Название книги</label>
                <input type="text" name="title" required>
            </div>

            <div class="form-center-group">
                <label>Автор</label>
                <input type="text" name="author" required>
            </div>

            <div class="form-center-group">
                <label>Категория</label>
                <select name="category" required>
                    <option value="">Выберите категорию</option>
                    <option value="Учёба">Учёба</option>
                    <option value="Детские">Детские</option>
                    <option value="Художественные">Художественные</option>
                    <option value="Психология">Психология</option>
                    <option value="Познавательные">Познавательные</option>
                    <option value="Хобби">Хобби</option>
                    <option value="Манга">Манга</option>
                    <option value="Манхва">Манхва</option>
                    <option value="Маньхуа">Маньхуа</option>
                    <option value="Комиксы">Комиксы</option>
                    <option value="Другое">Другое</option>
                </select>
            </div>

            <div class="form-center-group">
                <label>Жанр</label>
                <input type="text" name="genre">
            </div>

            <div class="form-center-group">
                <label>Год издания</label>
                <input type="number" name="year" min="1000" max="2025">
            </div>

            <div class="form-center-group">
                <label>Обложка (URL)</label>
                <input type="text" name="cover">
            </div>

            <div class="form-center-group">
                <label>Описание</label>
                <textarea name="description"></textarea>
            </div>

            <div class="form-center-buttons">
                <button type="submit" class="btn-center btn-submit-center">Добавить книгу</button>
                <a href="{{ url_for('index') }}" class="btn-center btn-back-center">Назад</a>
            </div>
        </form>
    </div>
</body>
</html>